{% extends 'base.html.twig' %}


{% block title %}Hello MainController!{% endblock %}

{% block body %}


<div class="contenedor">
    <header>
    
    <img class="LogoSym" src="images/SfBig.png" alt="Logo de symfony" width="50%" >
    <h1>Fichame: Tu app de control de trabajadores: Beta Brach  </h1>
    
</header>

</div>

<div class="container">
<div class="tutorial">
  <h2>Bienvenido al panel </h2>
    {% if app.user %}
   {# <li>Hola {{ app.user }}"></li>  #}
    <h5>User registerered <b>:{{ app.user.userIdentifier }} </b> </h5>  

    {% for role in app.user.roles %}
      <h6> Rol: {{ role }} </h6>
    {% endfor %}


     <a href="{{ path('app_logout') }}">Logout</a> &#x26d4


     {% else %}
      <li><b>User unregisterered </b></li>  
       {% endif %}
     <div class="topnav">
           {#      <a href="#">Ayuda</a>
                <a href="#"> Alumnos</a>
                <a href="#"> Cursos</a>
                <a href="#"> Información</a>
                <a href="#"> Inicio</a> #}

              <a href="{{ path('app_register') }}"> Registro</a>
              <a href="{{ path('app_login') }}"> Login</a>
              <a href="{{ path('app_task') }}"> ver Tareas</a>
         
           <a href="{{ path('app_event_index') }}"> Ver eventos</a>
            </div>
    
    {# <li><a href="{{ path('app_register') }}"> Registro</a></li>
    <li><a href="{{ path('app_login') }}"> Login</a></li>
    <li><a href="{{ path('app_task') }}"> Crear tarea</a></li>
    <li><a href="{{ path('app_task') }}"> Crear evento</a></li> #}




</div>


</div>

{% endblock %}
   