{% extends 'base.html.twig' %}


{% block title %}Hello MainController!{% endblock %}

{% block body %}


<div class="contenedor">
    <header>
    
    <img class="LogoSym" src="images/SfBig.png" alt="Logo de symfony" width="50%" >
    <h1>Fichame: Tu app de control de trabajadores  </h1>
    
</header>

</div>

<div class="container">
<div class="tutorial">
  <h2>Bienvenido al panel </h2>
 
     <div class="topnav">
           {#      <a href="#">Ayuda</a>
                <a href="#"> Alumnos</a>
                <a href="#"> Cursos</a>
                <a href="#"> Información</a>
                <a href="#"> Inicio</a> #}

               <a href="{{ path('app_register') }}"> Registro</a>
              <a href="{{ path('app_login') }}"> Login</a>
            <a href="{{ path('app_task') }}"> Crear tarea</a>
          <a href="{{ path('app_event_index') }}"> Crear evento</a>
            </div>
    
    {# <li><a href="{{ path('app_register') }}"> Registro</a></li>
    <li><a href="{{ path('app_login') }}"> Login</a></li>
    <li><a href="{{ path('app_task') }}"> Crear tarea</a></li>
    <li><a href="{{ path('app_task') }}"> Crear evento</a></li> #}




</div>
</div>
{% endblock %}
   