{% extends 'base.html.twig' %}

{% block title %}Hello MainController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div
		class="example-wrapper">
		{# <h1>Hello {{ controller_name }}! ✅</h1> #}

		<h1>TASKS✅</h1>
		{% if app.user %}

			You are logged in as
			{{ app.user.username  }},
			<a href="{{ path('app_logout') }}">Logout</a>

		{% else %}
			<a href="/login">Login
			</a>
			-
			<a href="/register">
				Registration</a>

		{% endif %}

		{% if is_granted("ROLE_ADMIN")%}
			-
			<a href="/articulo">
				Crear/Modificar Articulos</a>
			-
			<a href="/user">Editar Usuarios</a>
		{% endif %}

		<br><br>

		{% if app.user %}

			{% for task in taskAsignments %}

				<ul>
					
						
						
                        {% if task.isState()== 1 and task.stateRequest == 1 and task.EndTime() == NULL and task.StartTime()== NULL %}
							Nombre:{{task.event.name}}<br>
							<a href="{{ path('app_task_edit_State', {'id': task.id}) }}">
							    <button type="button">Comenzar Tarea</button>
						    </a>

						{% endif %}
						
                        {# TODO: Solo se muestra si es el dia #}
						{% if (task.isState()== 1 and task.StartTime() != NULL and task.EndTime() == NULL ) %}
						Nombre:{{task.event.name}}<br>
                            <form action="{{ path('app_task_edit_State', {'id': task.id, 'state': 0}) }}">

                                <a>
                                    <button type="submit">Terminar Tarea</button>
                                </a>
                                <input type="number" placeholder="Tiempo de Descanso" name="tiempoDescanso"/>
    							<input type="hidden" name="_token" value="{{ csrf_token('task_edit_state') }}"/>
                            
                            </form>
							
                           
						{% endif %}
					</li>


				</ul>


			{% endfor %}
<br> <a href="{{ path('app_task_accepted', {'id': app.user.id}) }}"><button type="button" >VER TAREAS ACEPTADAS</button></a><br>

			{% for task in tasks %}

				<ul>
					<li>
						Nombre:{{task.event.name}}<br>
						<input type="number">

						<a href="{{ path('app_task_edit_State_request', {'id': task.id, 'state_request': 1}) }}">
							<button type="button">ACEPTAR</button>
						</a>
						<a href="{{ path('app_task_edit_State_request', {'id': task.id, 'state_request': 0}) }}">
							<button type="button">RECHAZAR</button>
						</a>


					</li>

</div>

</div>

{% endblock %}
   