{% extends 'base.html.twig' %}

{% block title %}Hello TaskController!{% endblock %}

{% block body %}

{% block javascripts %}

{#
<script src='js/index.global.min.js'></script>
<script src='js/index.js' ></script>    #}
{% endblock %}

{#
<div id="calendar"></div>
#}



   {# 
<table class="table">
        <thead>
         
            <tr>
                     
              
              
                <th>Id</th>
                <th>Estado</th>  
              
               <th>Desc</th>
                {# <th>Autor </th> 
               
            </tr>
        
       #}
        {% for task in tasks %}       
           
              {#  <td><b>{{ noticia.id }}<b></td> #}
            
                <h3>Tarea ID:<b>{{ task.id}}</b></h3>
                <p>Estado: {{task.state}}</p>
                <p>Estado Request: {{task.getStateRequest}}</p>
                <p>User: {{task.user}}</p>
                <p>Evento: {{task.event}}</p>
                <p>Hora de Comienzo: {{task.getStartTime| date ('y-M-d H:m')}}</p>
                <p>Hora de Fin: {{task.getEndTime| date ('y-M-d H:m')}}</p>


              {#  <p>Estado reques : {{task.state_request}}</p>
               
                <p>Estado: {{task.start_time | date ('d/m/y')}}</p> #}

              

             {#   <p> <form method="POST" action="{{path('app_comentario_edit',{'id':comentario.id })}}"> #}

             <form method="POST" action="#">
                        <input role="button" class="BotonMargenIz btn btn-success" onclick="return confirm('¿Vas de modificar una tarea?')" class="BotonMargenIz" type="submit" value="Editar tarea"> </p>
                    </form>
                 
             {% endfor %}     
{% endblock %}
